@charset "utf-8";

// Custom imports
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

// Define defaults for each variable.

$base-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$grey-color:       #9BB4BE !default;
$grey-color-light: lighten($grey-color, 20%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$text-color:       $grey-color-dark !default;
$background-color: #fdfdfd !default;
$brand-color:      #1D90AC !default;


// Width of the content area
$content-width:    1000px !default;

$on-palm:           600px !default;
$on-laptop:        1000px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

// Custom styles (overwriting theme)

.inner-wrapper {
  margin: auto;
  max-width: 700px;
}

// Header styles

.site-title {
  line-height: normal;

  img {
    max-width: 400px;
  }
}

.site-header {
  background: #ffffff;
  border-top: 2px solid $grey-color;
  left: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
}

.site-nav .page-link {
  color: #1D90AC;
}

.page-content {
  padding-top: 110px;
}

// Typography

h1, h2, h3, h4, h5, h6 {
  color: $grey-color-dark;
  text-align: center;
}

h1 {
  line-height: 1.4;
}

a, a.page-link {
  &:hover {
    color: darken($brand-color, 10%);
    text-decoration: none;
  }

  &:visited {
    color: $brand-color;

    &:hover {
      color: darken($brand-color, 10%);
    }
  }
}

// Footer styles

.site-footer {
  background: #ffffff;
  border-top: 1px solid $grey-color-light;
  bottom: 0;
  left: 0;
  padding: 5px 0;
  position: fixed;
  width: 100%;

  .wrapper {
    display: flex;
  }

  .footer-cta {
    align-self: center;
    margin-bottom: 3px;

    i.fa {
      margin: 0 3px;
    }

    &:hover i.fa {
      margin: 0 0 0 6px;
    }
  }

  .social-media-list {
    flex-grow: 1;
    font-size: 24px;
    margin: 0;

    li {
      display: inline-block;
      padding: 0;

      a, a:visited {
        color: $grey-color;

        &:hover {
          color: $brand-color;
        }
      }
    }
  }
}

// Application form styles
#application-form {
  label {
    display: block;
  }

  .helper-text {
    font-size: 14px;
    color: $grey-color;
  }

  input, textarea {
    border-radius: 3px;
    border: 2px solid $grey-color-light;
    color: $grey-color-dark;
    display: block;
    font-family: $base-font-family;
    font-size: 16px;
    margin: 5px 0 20px 0;
    outline: none;
    padding: 3px;
    width: 80%;
    &:focus {
      border-color: $grey-color;
    }
  }

  input {
    max-width: 250px;
  }
  textarea {
    max-width: 500px;
  }
  input[type="submit"] {
    max-width: 200px;
  }
}

// Misc styles
hr {
  border: 1px solid $grey-color-light;
  margin: 40px auto;
  width: 80%;
}
